# Environment Settings
DEBUG=True
SECRET_KEY=django-insecure-@0pbmyza)w7)qa_6(!iv_9ekfc+@elff53z*4($s%i4ma0sxr=

# Database Settings
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3
DB_USER=
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=5432

# Allowed Hosts
ALLOWED_HOSTS=localhost,127.0.0.1
